:root {
  --main-color: #CADABF;
  --bg-second-color: #c1d2b6;
  --secondary-color: #B5CFB7;
  --elements-color: #7e5f4a;
  --elements-text-color: #E7E8D8;
  --elements-text-hover-color: #a6a87c;
  --main-text-color: #362a15;
  --board-color: #a7bc9a;

  /* Шрифтовые и размерные переменные */
  --sidebar-width: 19rem; /* 250px */
  --padding-main: 1.25rem;    /* 20px */
  --padding-item: 0.625rem 0.9375rem; /* 10px 15px */
  --font-size-main: 1rem;     /* 16px */
  --font-size-logo: 1.5rem;   /* 24px */
  --border-radius: 0.5rem;    /* 8px */
}

.dark-theme{
  --main-color: #697565;
  --bg-second-color: #636f5f;
  --secondary-color: #3C3D37;
  --elements-color: #181C14;
  --elements-text-color: #ECDFCC;
  --elements-text-hover-color: #7e6949;
  --main-text-color: #ddffea;
  --board-color: #90a682;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* App.css */
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1; 
  padding: 1.25rem; /* Внутренние отступы для контента */
  overflow-y: auto; /* Позволяет прокручивать контент, если он выходит за пределы видимой области */
}

body {
  margin: 0;
  font-family: 'Nunito', Arial, sans-serif;
  /* background-color: var(--main-color); */
  background: repeating-linear-gradient(135deg, var(--main-color), var(--main-color) 20px, var(--bg-second-color) 20px, var(--bg-second-color) 40px);
  color: var(--main-text-color);
}

button {
  display: flex; /* Используем flexbox для выравнивания иконки и текста */
  align-items: center; /* Выравниваем иконку по вертикали */
  padding: var(--padding-item);
  background-color: var(--elements-color);
  color: var(--elements-text-color);
  text-decoration: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-main);
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box; /* Учитываем padding в ширине */
  text-align: center;
  font-family: 'Nunito', Arial, sans-serif;
}