// src/styles/styles.scss
@import '../../node_modules/lichess-pgn-viewer/scss/lichess-pgn-viewer.lib';

.pgn-viewer {
    max-width: 800px;   /* Ограничиваем максимальную ширину */
    margin: 0 auto;     /* Центрируем по горизонтали */
    overflow: hidden;   /* Обрезаем лишнее содержимое */
  }
  
