

.board-container {
    display: flex;
    flex-direction: column; /* Элементы будут располагаться вертикально (доска сверху, кнопки снизу) */
    align-items: center;     /* Центрируем по горизонтали */
    justify-content: center;
    border: 2px dotted;
}

.button-container {
    display: flex;
    gap: 10px; /* Промежуток между кнопками */
    margin-top: 20px; /* Добавим отступ сверху для кнопок */
}

button{
    text-align: left;
}
